*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 40px;

}


input, button{
 height: 40px;
 vertical-align: middle; 

}
input{
  width: 200px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid rgb(191, 190, 190);

}
button{
width: 150px;
font-size: 18px;
margin-left: 20px;
border: 3px solid rgb(206, 238, 171);
background-color: rgb(145, 240, 209);
border-radius: 15px;
color: rgb(51, 13, 87);
}

body{
  background-color: azure;
}
li{
  margin-top: 30px;
  font-size: 18px;
  padding-left: -100px;
  
}
ul{

}







